@media (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
}
header {
    font-family: 'Roboto', sans-serif;
    display: flex;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
   
}
 

.hlogo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 700;
    
 }
/* header only up here */
/*------------------------*/
.hero {
    background-color: #1f2937;
}

.hero-inner {
    max-width: :1100px;
    margin: 0 auto;
    padding: 100px 32px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.hero-text {
    max-width: 450px;
    display: flex;
    flex-direction: column;
}

.herobig {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.herosmall {
    font-size: 18px;
    color: #e5e7eb;
    margin: 5px;
}

button {
    padding: 10px 16px;
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.hero-btn:hover {
  background-color: #2563eb;
}
/*------------ fin HERO-----------*/
.hero-image img {
    width: 100%;
    height: auto;
}


.hero-image {
    border:2px solid green;
    width: 300px;
    height: 200px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    color: #e5e7eb;
    gap: 16px;
    
}
